<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
    // Ce bout de code supplémentaire force la redirection après confirmation
    window.netlifyIdentity.on("confirmation", (user) => {
      window.netlifyIdentity.open();
    });
  }
</script>